.App {
  text-align: center;
  background: blue;
}

body {
<<<<<<< HEAD
  background-image: url("./imgs/moneytreebg.jpg");
  /* background-image: url("./imgs/moneyTreeBG.jpg"); */
=======


 /* background-image: url("./imgs/moneytreebg.jpg"); */

  /* background-image: url("./imgs/moneyTreeBG.jpg"); */

>>>>>>> 4d14dc6398176aba3128eeb8cd3ee8b9a00a9bd9
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}