.App {
  text-align: center;
  background: blue;
}

body {
  /* background-image: url("./imgs/moneytreebg.jpg"); */
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position:fixed;
  top: 0;
  left:0;
}