[submodule "test"]
	path = test
	url = git@github.com:moneytrees/backendtesting.git
[submodule "client/src/frontendtesting"]
	path = client/src/frontendtesting
	url = https://github.com/moneytrees/frontendtesting.git
[submodule "client/src/test"]
	path = client/src/test
	url = https://github.com/moneytrees/frontendtesting.git
