/* Start of CSS */

.rowWrap {
    margin-left: 5%;
    margin-top: 70px;
}

.wrapperTeam {
    padding: 10px;
}

.box {
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.imgBox {
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
    background: #000;
}

.box:hover .imgBox {
    transform: translateY(-100px);
}

.imgBox .teamPic {
    transition: .5s;
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.box:hover .imgBox .teamPic {
    opacity: .5;
}

.socialIcons {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0;
}

.socialIcons .liTeam {
    list-style: none;
}

.socialIcons .liTeam .aTeam {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #fff;
    color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateY(200px);
    opacity: 0;
}

.box:hover .socialIcons .liTeam .aTeam {
    transform: translateY(0px);
    opacity: 1;
}

.box .socialIcons .liTeam .aTeam .fa {
    transition: 0.5s;
    font-size: 24px;
    line-height: 50px;
}

.box .socialIcons .liTeam .aTeam:hover .fa {
    transform: rotateY(360deg);
}

.box:hover .socialIcons .liTeam:nth-child(1) .aTeam {
    transition-delay: 0s;
}

.box:hover .socialIcons .liTeam:nth-child(2) .aTeam {
    transition-delay: 0.2s;
}

.details {
    position: relative;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
}

.details .h2Team {
    margin: 10px 0 0;
    text-align: center;
    padding: 0;
    font-size: 2em;
}

.details .h2Team span {
    color: #bbb;
    font-size: 16px;
}

@media only screen and (max-width: 768px){
    .rowWrap {
        margin-left: 8%;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 600px){
    .rowWrap {
        margin-left: 7%;
        margin-top: 70px;
    }
}