.pageFooter {
    background-color: #37474F;
    color: #ffffff;
    text-align: center;
    padding: 2em 0 2em 0;
}
.pageFooter h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 3em;
}
.pageFooter h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}
.btn-danger {
    font-size: 1.5em;
    margin-bottom: 1em;
    background-color: #e38949;
    border-color: #e38949;
    box-shadow: 2px 2px 2px #000000;
}
.btn-danger:hover {
    background-color: #bd692d;
    border-color: #bd692d;
    box-shadow: none;
    transition: 0.5s;
}
.pageFooter a{
    color: #ffffff;
}
.pageFooter a:hover {
    color: #e38949;
    transition: 0.5s;
}

.pageFooter .nav-item {
    list-style-type: none;
}
