body{
    background-image: url("../../../imgs/moneytreebg.jpg");
    background-size:cover;
 
}

.faq {
    margin-bottom: 3em;
}

.header1 {
    margin: 1em 0 1em 0;
    font-family: 'Varela Round', sans-serif;
    text-align:center;
    font-size: 4em;
    color: #ffffff;
} 

.faq a:link {
    color: #37474F;
}

.faq a:hover {
    color:#E38949;
}

a:active {
    color:#E38949;
}

.faq p {
    font-size: 1.5em;
}

h3 {
    color:#015249;
    font-size:1.2em;   
}

.collapsed{
    color: #015249;
}

.accordion-section .panel-default > .panel-heading {
    background: #ffffff;
    padding: 0;
    box-shadow: 2px 2px 2px #494949;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.25em;
    text-align: center;
}

.accordion-section .panel-default .panel-title a:after {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 0rem;
    content: "\f106";
    color: #015249;
    float: right;
    margin-top: -12px;
}

.faq .panel-body {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}