.cashFlow-btn-group {
    margin: 0;
    padding: 0;
    
}

.cashFlow-graph {
    float: left;
    width: 50%;
    padding-left: 1rem;
}


.testForm {
    margin-top: 2rem;
    float: left;
    width: 50%;
    height: 300px;
}

.loanDataLine {
    font-size: 2rem;
    font-weight: 700;
}

.loanDataVal {
    float: right;
}

.pieChart {
    margin:auto;
}



/* .cashFlowBtn {
    margin-right: 1rem;
} */

/* .cashFlowBtn Button{
    color: #ffffff !important;
    background-color:  #9cd2ba!important;
    font-family: lato !important;
    margin-left: 77px !important;
    border: none !important;
    box-shadow: 2px 2px 2px #494949;
 }
 .cashFlowBtn Button:hover {
    color: #9cd2ba !important;
    background-color: #ffffffb2 !important;
    box-shadow: none;
    transition: 0.5s;
 } */

 .achvCard {
     width:75%;
     left: 24%;
 }

