.background {
    /* background-color:  rgba(255, 255, 255, 0.879); */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}



.top .avatar-img{
    width: 31%;
    right: 29%;
    padding-left: 75px;
    /* margin-top:-125px; */
   
}

.top .card {
    margin-top: 19%;
}

.achievement {
    margin-bottom: 3%;
}

.transactionDetail {
    margin-bottom: 3%;
}
.achieveCard{
    margin-top: -12%;
    margin-bottom: 3%;
}

.btn-info {
    margin: 10px 20px 20px 10px !important;

}
    



/* .cashFlow-btn-group {
    margin: 10px 0 25px 0;
    padding: 0;
    
} */

/* .cashFlow btn .btn-secondary {
    margin: 10px 0 25px 0;
    padding: 0;
} */
.cashFlow-graph {
    float: left;
    width: 50%;
    padding-left: 1rem;
}

.dbTitle h2{
    font-family: ‘Varela Round’, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #015249 !important;
    margin: 5px 0 15px 0;
}

/* .progress{
    padding: 10px 10px 25px 10px;
} */
.testForm {
    margin-top: 2rem;
    float: left;
    width: 50%;
    height: 300px;
}

.loanDataLine {
    font-size: 2rem;
    font-weight: 700;
}

.loanDataVal {
    float: right;
}

.pieChart {
    margin:auto;
}

.totalSpendingCol {
    margin-top: 10%;
}

.trans card {
    width: 50%;
}

.CashFlow {
    width:100%;
}



/* .cashFlowBtn {
    margin-right: 1rem;
} */

/* .cashFlowBtn Button{
    color: #ffffff !important;
    background-color:  #9cd2ba!important;
    font-family: lato !important;
    margin-left: 77px !important;
    border: none !important;
    box-shadow: 2px 2px 2px #494949;
 }
 .cashFlowBtn Button:hover {
    color: #9cd2ba !important;
    background-color: #ffffffb2 !important;
    box-shadow: none;
    transition: 0.5s;
 } */


 

 .trophyPic{
     width: 27%;
 }

 .itemName{
    font-size: 18px;
 }

 .itemDesc{
     font-size:14px;
 }
