.form-group {
     font-family: "Varela Round", sans-serif; 

}

.registrationForm {
    margin-top:10%;
}

.registrationNotes {
    font-size: 12px;
    margin: auto;
}

.register-button{
    color: #9cd2ba !important;
    background-color: #ffffff !important;
    font-family: lato !important;
    margin-left: 77px !important;
    width:25%;
    border: none !important;
    box-shadow: 2px 2px 2px #494949;
}
.register-button:hover {
    color: #9cd2ba !important;
    background-color: #ffffffb2 !important;
    box-shadow: none;
    transition: 0.5s;
} 


