.hero{
    height: 700px;
}

.hero img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
     -ms-animation: fadein 1.5s; /* Internet Explorer */
      -o-animation: fadein 1.5s; /* Opera < 12.1 */
         animation: fadein 1.5s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
  
} 

.signIn .btn{
    width: 250px;
    margin-left: 75px; 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.signIn .btn-secondary{
    color: #424242 !important;
    background-color: #ffffff !important;
    font-family: lato !important;
    margin-left: 77px !important;
    border: none !important;
    box-shadow: 2px 2px 2px #000000;
}

.signIn .btn-secondary:hover {
    background-color: #cccccc !important;
    box-shadow: none;
    transition: 0.5s;
}

.logo {
    margin-bottom: -180px;
}

@media only screen and (max-width: 1040px)  {
    .signIn .btn-secondary{
        margin: 1em !important;
    }
    .landing{
        height: 700px !important;
    }
}

@media only screen and (max-width: 768px)  {
    .signIn .btn-secondary{
        margin: 5em 2.5em -3em !important;
        width: 350px;
    }
}

@media only screen and (max-width: 600px)  {
    .loginBtn{
        margin-top: 6em;
    }
    .signIn .btn-secondary{
        margin-top: 3em;
        margin-left: 14% !important;
        width: 250px;
    }
}
